---
import { getCollection } from "astro:content";
const [resumeSummary] = await getCollection("summary");
const { firstName, lastName, emailAddress, siteLink, phoneNumber, githubLink } =
  resumeSummary.data;
---

<header class="text-center flex flex-col gap-2">
  <h1 class="text-4xl font-bold text-blue-700">{firstName} {lastName}</h1>
  <a href={siteLink}>{siteLink}</a>
  <a href={githubLink}>{githubLink}</a>
  <a class="text-blue-700" href={`mailto:${emailAddress}`}>
    {emailAddress}
  </a>
  {phoneNumber && <p>{phoneNumber}</p>}
</header>
